/* TO SHOW ONE CUESTION IN A TIME*/
.slide {
    position: absolute;
    left: 0px;
    top: 0px;
    width:100%;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s;
}

.active-slide {
    opacity: 1;
    z-index: 2;
}

.quiz-container {
    position: relative;
    height: 200px;
    margin-top: 40px;
}

#progressBar {
    width: 15rem;
    height: 2rem;
    border: 0.2rem solid black;
    margin-top: 2rem;
    border-radius: 5px;
}

#progressBarFull {
    height: 2rem;
    background-color: black;
    width: 0%;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
